################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Suhas_Kulkarni_RealRider/RealRider.Droid/obj/Debug
/Suhas_Kulkarni_RealRider/RealRider.Droid/bin/Debug
/Suhas_Kulkarni_RealRider/RealRider.Data
/Suhas_Kulkarni_RealRider/RealRider.Core
/Suhas_Kulkarni_RealRider/RealRider.userprefs
/Suhas_Kulkarni_RealRider/RealRider.Droid/RealRider.Droid.csproj.user
/Suhas_Kulkarni_RealRider/.vs/RealRider/v14/.suo
