################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Suhas_Kulkarni_RealRider/RealRider.Droid/obj/Debug
